<!DOCTYPE html>
<html>
<head>
    <title>Currency Converter</title>
      <style>
        body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}
    </style>
</head>
<body>
    <h1>Currency Converter</h1>
    <form action="/convert" method="post">
       <label for="from_currency">From Currency:</label>
        <select name="from_currency" id="from_currency">
            {% for currency in currencies %}
                <option value="{{ currency }}">{{ currency }}</option>
            {% endfor %}
        </select>
        <br><br>
        <label for="to_currency">To Currency:</label>
        <select name="to_currency" id="to_currency">
            {% for currency in currencies %}
                <option value="{{ currency }}">{{ currency }}</option>
            {% endfor %}
        </select>
        <br><br>
        <label for="converted_amount">Amount:</label>
        <input type="text" name="converted_amount" id="converted_amount">
        <br><br>
        <input type="submit" value="Convert">
    </form>
<br>
    <form action="/" method="get">
        <button type="submit">Back to Exchange Rates</button>
    </form>
</body>
</html>