<!DOCTYPE html>
<html>
<head>
    <title>Currency Exchange Rates</title>
    <style>
        body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}
    </style>
</head>
<body>
    <h1>Currency Exchange Rates</h1>


    <h2>Select Your country</h2>
    <form action="/" method="GET">
       <label for="country">Select Country:</label>
        <select name="country" id="country">
            {% for country in countries %}
                <option value="{{ country }}">{{ country }}</option>
            {% endfor %}
        </select>
        <br><br>
         <input type="submit" value="Select">
    </form>
        <br><br>

    <table>
        <thead>
        <tr>Selected Country is: {{country}}</tr>
            <tr>
                <th>Currency</th>
                <th>Exchange Rate</th>
            </tr>
        </thead>
        <tbody>
            {% for currency_key, currency_value in currencies.items() %}
            <tr>
                {% if countries[country] == currency_key %}
                {% set currency_value = 1 %}
                <td>{{currency_key}}</td>
                <td>{{currency_value}}</td>
                {% else %}
                {% set currency_value = currency_value / currencies[countries[country]] %}

                <td>{{currency_key}}</td>
                <td>{{currency_value}}</td>
                {% endif %}
            </tr>

            {% endfor %}
        </tbody>

    </table>
    <br><br>
    <br>
    <form action="/convert" method="get">
        <button type="submit">Convert Currency</button>
    </form>
</body>
</html>

