<!DOCTYPE html>
<html>
<head>
    <title>Currency Converter Result</title>
      <style>
        body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}
    </style>
</head>
<body>
    <h1>Currency Converter Result</h1>
    <p>{{converted_amount}} {{from_currency}} = {{amount}} {{to_currency}}</p>
    <br>
    <form action="/convert" method="get">
        <button type="submit">Convert another currency</button>
    </form>
<br>
    <form action="/" method="get">
        <button type="submit">Back to Exchange Rates</button>
    </form>
</body>
</html>